<div class="container text-center">
  <h1>Movie Lists</h1>
</div>

<div class="cards">
  <% @lists.each do |list| %>
  <ul>
    <li><%= link_to list.name, list_path(list) %></li>
  </ul>
  <% end %>
</div>


<div class="btn">
  <%= link_to 'Create new list', new_list_path %>
</div>
